<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Admin Paneli</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <i class="fa fa-home"></i>
          AnaSayfa
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create">
            <i class="fa fa-plus-circle"></i>
          Menuye Ekle
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/users">
          <i class="fa fa-users">
          </i>
          Üyeler
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/orders">
          <i class="fa fa-list-ol">
          </i>
          Siparişler
        </a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>