<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row col-md-12  custyle">
        <button (click)="getTotal()" class="btn btn-success btn-xs">
            <span class="glyphicon glyphicon-ok">Siparişler toplamını hesapla</span>
        </button>
        <h3>{{total}} ₺</h3>
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>İsim-Soyisim</th>
                    <th>Ürünler</th>
                    <th>Adres</th>
                    <th>Toplam</th>
                    <th class="text-center">Sil</th>
                </tr>
            </thead>
            <tr *ngFor='let order of orders'>
                <td>{{order.name}}</td>
                <td >
                    <div *ngFor="let key of getKeys(order.basket)">
                        {{ order.basket[key].item.name }}
                        {{order.basket[key].size }} adet
                    </div>
                </td>
                <td>{{order.address}}</td>
                <td>{{order.total}} ₺</td>
                <td class="text-center">
                    <button (click)="deleteOrder(order._id)" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove">Sil</span>
                    </button>
                </td>
            </tr>
        </table>