<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row col-md-12  custyle">
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>İsim-Soyisim</th>
                    <th>Telefon numarası</th>
                    <th>Adres</th>
                    <th class="text-center">Sil</th>
                </tr>
            </thead>
            <tr *ngFor='let user of users'>
                <td>{{user.name}}</td>

                <td>{{user.phone}}
                </td>
                <td>{{user.address}}

                </td>
                <td class="text-center">
                    <button (click)="deleteUser(user._id)" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove">Sil</span>
                    </button>
                </td>
            </tr>